@font-face {
	font-family: 'Architects Daughter';
	src: url(ArchitectsDaughter.ttf) format("truetype");
}

html {
	background: #333;
	color: #dfdfdf;
	font-family: 'Courier New';
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	text-transform: uppercase;
}

body { 
	font-size: .8216em; /* .8375em; */
}

body.uiir { 
	font-family: 'Architects Daughter';
}

.uiir .numeric {
	letter-spacing: 1px;
}
.uiir .basics .numeric {
	display: inline-block;
	float: right;
	text-align: right;
	width: 41px;
}

header {
	font-family: 'Architects Daughter';
	height: 2em;
	position: relative;
}

header>p {
	display: none;
	font-size: 1.2em;
	font-weight: normal;
	height: 2em;
	margin-top: 0;
	padding-top: 0;
	position: absolute;
	text-transform: none;
	top: 0;
}
#huiir {
	font-size: 1.6em;
	letter-spacing: 2px;
}
#hult {
	letter-spacing: 0.5px;
	white-space: nowrap;
}
button {
	font-family: 'Architects Daughter';
}


#shellWidth {
	display: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 320px
}

#shellWidth>* {
	text-align: left;
}

.cv {
	margin: 0; 
	padding: 0; 
}

.canvas_frame {
	position: relative;
	padding-bottom: 0;	
}
.canvas_frame, .canvas_backing, .canvas_blacking { 
	height: 160px;
	width: 320px;
}
.canvas_backing { 
	background: #dedede url('../i/aniwater.png') 0 0; 
}
.canvas_blacking {
	background: #333;
}

canvas, .canvas_blacking {
	position: absolute; 
	top: 0;
}
#youAreDead {
	position: absolute;
	text-align: center;
	top: 75px;
	width: 100%;
}
#youAreDead>* {
	background: #333;
	display: inline;
	padding: 1px 4px;
}

#cmd_queue_shell { 
	border: 0;
	direction: ltr;
	height: 4.8em;
	position: relative;
	overflow: hidden;
	margin-right: 72px; 
}

#cmd_queue {
	bottom: -1px;
	direction: ltr;
	padding: 0;
	position: absolute;
	word-wrap: break-word;
	width: 248px;
} 

.uiir #cmd_queue_shell { 
	margin-right: 85px;
}

.uiir #cmd_queue {
	padding: 0 0.2em;
	width: 228px;
}


.nv {
	visibility: hidden;
}

div, section {
	margin: 0;
	padding: 0;
}

*.gap {
	padding-bottom: 1em;
}
.nobr {
	white-space: nowrap;
}

.aright {
	text-align: right;
}
.acenter {
	text-align: center;
}

.half {
	width: 50%;
}
.iblock {
	display: inline-block;
}

.right { 
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}

label {
	display: inline-block;
}

.uiir label {
	font-weight: bold;
	margin-right: 0.25em;
}

.uiir div.tools span {
	display: inline-block;
	text-align: center;/* */
	width: 1.6em;
}